.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.tmf.projection.featured {
    padding-top: 40px;
}
.tmf.projection.collpase-margin {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 auto;
}
.tmf.projection.collpase-margin ul {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.tmf.projection.comparison {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 auto;
}
.tmf.projection.comparison ul:first-child:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.tmf.projection.comparison ul:first-child > li {
    font-weight: bold;
}
.tmf.projection.comparison ul:hover {
    margin-top: 0;
    margin-bottom: 0;
}
.tmf.projection.comparison ul li:first-child {
    background: #e5e5e5;
}
.tmf.projection.comparison ul {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.tmf.projection .themebg {
    display: block;
    margin: 0;
    border-top: none;
    color: #ffffff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2) inset, 0 2px 0 rgba(255,255,255,0.3) inset;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2) inset, 0 2px 0 rgba(255,255,255,0.3) inset;
    box-shadow: 0 0 5px rgba(0,0,0,0.2) inset, 0 2px 0 rgba(255,255,255,0.3) inset;
}
/* Skin Mixin */
/* Skin */
.tmf.projection.orange .themetxt {
    color: #f16022;
}
.tmf.projection.orange .themebg {
    border: 1px solid #d3480d;
    border-left-color: #f16022;
    background-image: -moz-linear-gradient(top, #f3753f, #f16022) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3753f), to(#f16022)) !important;
    background-image: -webkit-linear-gradient(top, #f3753f, #f16022) !important;
    background-image: -o-linear-gradient(top, #f3753f, #f16022) !important;
    background-image: linear-gradient(#f3753f, #f16022) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3753f', endColorstr='#fff16022', GradientType=0) !important;
    *background: #f16022;
}

.tmf.projection.green .themetxt {
    color: #84b231;
}

.tmf.projection.green .themebg {
    border: 1px solid #668a26;
    border-left-color: #84b231;
    background-image: -moz-linear-gradient(top, #95c939, #84b231) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#95c939), to(#84b231)) !important;
    background-image: -webkit-linear-gradient(top, #95c939, #84b231) !important;
    background-image: -o-linear-gradient(top, #95c939, #84b231) !important;
    background-image: linear-gradient(#95c939, #84b231) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff95c939', endColorstr='#ff84b231', GradientType=0) !important;
    *background: #84b231;
}

.tmf.projection .themetxt,
.tmf.projection.blue .themetxt {
    color: #5e95cc;
}
.tmf.projection .themebg,
.tmf.projection.blue .themebg {
    border: 1px solid #3b7bbc;
    border-left-color: #5e95cc;
    background-image: -moz-linear-gradient(top, #75a4d3, #5e95cc) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75a4d3), to(#5e95cc)) !important;
    background-image: -webkit-linear-gradient(top, #75a4d3, #5e95cc) !important;
    background-image: -o-linear-gradient(top, #75a4d3, #5e95cc) !important;
    background-image: linear-gradient(#75a4d3, #5e95cc) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff75a4d3', endColorstr='#ff5e95cc', GradientType=0) !important;
    *background: #5e95cc;
}
.tmf.projection.red .themetxt {
    color: #c63d4e;
}
.tmf.projection.red .themebg {
    border: 1px solid #a12f3d;
    border-left-color: #c63d4e;
    background-image: -moz-linear-gradient(top, #cd5564, #c63d4e) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cd5564), to(#c63d4e)) !important;
    background-image: -webkit-linear-gradient(top, #cd5564, #c63d4e) !important;
    background-image: -o-linear-gradient(top, #cd5564, #c63d4e) !important;
    background-image: linear-gradient(#cd5564, #c63d4e) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd5564', endColorstr='#ffc63d4e', GradientType=0) !important;
    *background: #c63d4e;
}

.tmf.projection.gray .themetxt {
    color: #bababa;
}
.tmf.projection.gray .themebg {
    border: 1px solid #a1a1a1;
    border-left-color: #bababa;
    background-image: -moz-linear-gradient(top, #c9c9c9, #bababa) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c9c9c9), to(#bababa)) !important;
    background-image: -webkit-linear-gradient(top, #c9c9c9, #bababa) !important;
    background-image: -o-linear-gradient(top, #c9c9c9, #bababa) !important;
    background-image: linear-gradient(#c9c9c9, #bababa) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc9c9c9', endColorstr='#ffbababa', GradientType=0) !important;
    *background: #bababa;
}
.tmf.projection.black .themebg {
    border: 1px solid #454545;
    border-left-color: #5e5e5e;
    background-image: -moz-linear-gradient(top, #6d6d6d, #5e5e5e) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6d6d6d), to(#5e5e5e)) !important;
    background-image: -webkit-linear-gradient(top, #6d6d6d, #5e5e5e) !important;
    background-image: -o-linear-gradient(top, #6d6d6d, #5e5e5e) !important;
    background-image: linear-gradient(#6d6d6d, #5e5e5e) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d6d6d', endColorstr='#ff5e5e5e', GradientType=0) !important;
    *background: #5e5e5e;
}
.tmf.projection.black .themetxt {
    color: #5e5e5e;
}

.tmf.services.status .online {
    border: 1px solid #668a26;
    border-left-color: #84b231;
    background-image: -moz-linear-gradient(top, #95c939, #84b231) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#95c939), to(#84b231)) !important;
    background-image: -webkit-linear-gradient(top, #95c939, #84b231) !important;
    background-image: -o-linear-gradient(top, #95c939, #84b231) !important;
    background-image: linear-gradient(#95c939, #84b231) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff95c939', endColorstr='#ff84b231', GradientType=0) !important;
    *background: #84b231;
    color: #fff;
}
.tmf.services.status .offline {
    border: 1px solid #a12f3d;
    border-left-color: #c63d4e;
    background-image: -moz-linear-gradient(top, #cd5564, #c63d4e) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cd5564), to(#c63d4e)) !important;
    background-image: -webkit-linear-gradient(top, #cd5564, #c63d4e) !important;
    background-image: -o-linear-gradient(top, #cd5564, #c63d4e) !important;
    background-image: linear-gradient(#cd5564, #c63d4e) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd5564', endColorstr='#ffc63d4e', GradientType=0) !important;
    *background: #c63d4e;
    color: #fff;
}

.fileinput-button{position:relative;overflow:hidden;}
.fileinput-button input{position:absolute;top:0;right:0;
                        margin:0;border:solid transparent;
                        border-width:0 0 100px 200px;opacity:0;
                        filter:alpha(opacity=0);-moz-transform:translate(-300px, 0) scale(4);
                        direction:ltr;cursor:pointer}


