.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    -webkit-perspective: 12rem;
    -moz-perspective: 12rem;
    -ms-perspective: 12rem;
    -o-perspective: 12rem;
    perspective: 12rem;

    z-index: 2000;
    position: fixed;
    height: 6rem;
    width: 6rem;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pace.pace-inactive .pace-progress {
    display: none;
}

.pace .pace-progress {
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 9rem;
    width: 9rem !important;
    line-height: 9rem;
    font-size: 3rem;
    border-radius: 50%;
    background-image: -moz-linear-gradient(top, #75a4d3, #5e95cc) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75a4d3), to(#5e95cc)) !important;
    background-image: -webkit-linear-gradient(top, #75a4d3, #5e95cc) !important;
    background-image: -o-linear-gradient(top, #75a4d3, #5e95cc) !important;
    background-image: linear-gradient(#75a4d3, #5e95cc) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff75a4d3', endColorstr='#ff5e95cc', GradientType=0) !important;
    *background: #5e95cc;
    /*blue Origin background: rgba(34, 153, 221, 0.8);
    
    Green
    border: 1px solid #d3480d;
    border-left-color: #f16022;
    background-image: -moz-linear-gradient(top, #f3753f, #f16022) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3753f), to(#f16022)) !important;
    background-image: -webkit-linear-gradient(top, #f3753f, #f16022) !important;
    background-image: -o-linear-gradient(top, #f3753f, #f16022) !important;
    background-image: linear-gradient(#f3753f, #f16022) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3753f', endColorstr='#fff16022', GradientType=0) !important;
    *background: #f16022;*/
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    text-align: center;

    -webkit-animation: pace-3d-spinner linear infinite 2s;
    -moz-animation: pace-3d-spinner linear infinite 2s;
    -ms-animation: pace-3d-spinner linear infinite 2s;
    -o-animation: pace-3d-spinner linear infinite 2s;
    animation: pace-3d-spinner linear infinite 2s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pace .pace-progress:after {
    content: attr(data-progress-text);
    display: block;
}

@-webkit-keyframes pace-3d-spinner {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
    }
}

@-moz-keyframes pace-3d-spinner {
    from {
        -moz-transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(360deg);
    }
}

@-ms-keyframes pace-3d-spinner {
    from {
        -ms-transform: rotateY(0deg);
    }
    to {
        -ms-transform: rotateY(360deg);
    }
}

@-o-keyframes pace-3d-spinner {
    from {
        -o-transform: rotateY(0deg);
    }
    to {
        -o-transform: rotateY(360deg);
    }
}

@keyframes pace-3d-spinner {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}